<section class="animals">
  <div class="animals__row animals__row--odd container" data-aos="tale">
    <picture>
        <source srcset="img/skazka/animals/moose.webp" type="image/webp">
        <img class="animals__moose img" loading="lazy" src="img/skazka/animals/moose.png" width="640" height="510" alt="Лось">
    </picture>
    <p class="animals__text">Первым пришёл Лось. Он был очень мудрый и смелый, поэтому принёс в маленьком красном мешочке дружбу.</p>
    <p class="animals__subtext">– Добро пожаловать на эту землю, дорогой малыш! Пусть у тебя будет много друзей, с которыми вы сможете, весело играть, – сказал Лось.</p>
  </div>
  <div class="animals__sky"></div>
  <div class="animals__row animals__row--even container" data-aos="tale">
    <p class="animals__text">Потом прилетела Птичка. Она принесла в клювике умение летать от счастья и не бояться никаких высот.</p>
    <p class="animals__subtext">– Дорогой малыш, лети по своему пути, расправив крылья, пусть твоя дорога будет лёгкой, – сказала она.</p>
    <picture>
      <source srcset="img/skazka/animals/bird.webp" type="image/webp">
      <img class="animals__bird img" loading="lazy" src="img/skazka/animals/bird.png" width="500" height="409" alt="Птичка">
    </picture>
  </div>
  <div class="animals__sky"></div>
  <div class="animals__row animals__row--odd container" data-aos="tale">
    <picture>
      <source srcset="img/skazka/animals/fox.webp" type="image/webp">
      <img class="animals__fox img" loading="lazy" src="img/skazka/animals/fox.png" width="547" height="451" alt="Лиса">
    </picture>
    <p class="animals__text">Затем пришла Лисичка. Она решила поделиться умением быстро бегать и находить выход из любой ситуации.</p>
    <p class="animals__subtext">– Будь любознательным, малыш, не бойся пробовать и изучать этот мир, он такой интересный! – сказала она.</p>
  </div>
  <div class="animals__sky"></div>
  <div class="animals__row animals__row--even container" data-aos="tale">
    <p class="animals__text">И наконец, пришёл Зайка, который жил на луне.<br> И конечно же, принёс дорогому гостю крепкий безмятежный сон.</p>
    <p class="animals__subtext">– Отдыхай и спи спокойно, пусть тебе приснятся сладкие сны!</p>
    <picture>
      <source srcset="img/skazka/animals/hare.webp" type="image/webp">
      <img class="animals__hare img" loading="lazy" src="img/skazka/animals/hare.png" width="645" height="490" alt="Зайчик">
    </picture>
  </div>
</section>
