<footer class="footer" data-aos="tale">
  <div class="footer__wrapper">
    <div class="footer__clouds clouds">
      <picture>
        <source media="(max-width: 576px)" srcset="img/skazka/header-cloud-mobile.webp 576w" type="image/webp">
        <source media="(max-width: 576px)" srcset="img/skazka/header-cloud-mobile.png 576w" type="image/png">
        <source srcset="img/skazka/header-cloud-left.webp" type="image/webp">
        <img class="clouds__image clouds__image--left img" loading="lazy" src="/img/header-cloud-left.png" width="552" height="468" alt="Облачка">
      </picture>
      <picture>
        <source media="(max-width: 576px)" srcset="img/skazka/header-cloud-mobile.webp 576w" type="image/webp">
        <source media="(max-width: 576px)" srcset="img/skazka/header-cloud-mobile.png 576w" type="image/png">
        <source srcset="img/skazka/header-cloud-center.webp" type="image/webp">
        <img class="clouds__image clouds__image--center img" loading="lazy" src="img/skazka/header-cloud-center.png" width="953" height="410" alt="Облачка">
      </picture>
      <picture>
        <source media="(max-width: 576px)" srcset="img/skazka/header-cloud-mobile.webp 576w" type="image/webp">
        <source media="(max-width: 576px)" srcset="img/skazka/header-cloud-mobile.png 576w" type="image/png">
        <source srcset="img/skazka/header-cloud-right.webp" type="image/webp">
        <img class="clouds__image clouds__image--right img" loading="lazy" src="img/skazka/header-cloud-right.png" width="494" height="420" alt="Облачка">
      </picture>
    </div>
    <div class="footer__container">
      <div class="footer__content">
        <p class="footer__text"><span>В</span>от так звери чествовали дорогого гостя.<br>
          И встречали его, и носили на руках, и слушали его пение, и восхищались им. И каждый был рад этой встрече. И, наверное, ты уже догадался, дорогой родитель, кто был этим гостем, кого все так ждали и с кем торопились познакомиться?</p>
        <p class="footer__text footer__text">Конечно, все были рады твоему малышу!</p>
      </div>
      <div class="footer__prize">
        <a href="https://www.ozon.ru/seller/roxy-kids-45260/brand/roxy-kids-32175343/?miniapp=seller_45260&utm_source=our_site&utm_medium=skazka&utm_campaign=vendor_org_23813" target="_blank" class="footer__link">
          <picture>
            <source srcset="img/skazka/pacifier-hare.webp" type="image/webp">
            <img class="footer__image img" loading="lazy" src="img/skazka/pacifier-hare.png" width="260" height="258" alt="Пустышка зайка">
          </picture>
        </a>
        <a href="https://www.ozon.ru/seller/roxy-kids-45260/brand/roxy-kids-32175343/?miniapp=seller_45260&utm_source=our_site&utm_medium=skazka&utm_campaign=vendor_org_23813" target="_blank" class="footer__link">
          <picture>
            <source srcset="img/skazka/pacifier-bird.webp" type="image/webp">
            <img class="footer__image img" loading="lazy" src="img/skazka/pacifier-bird.png" width="260" height="258" alt="Пустышка птичка">
          </picture>
        </a>
        <a href="https://www.ozon.ru/seller/roxy-kids-45260/brand/roxy-kids-32175343/?miniapp=seller_45260&utm_source=our_site&utm_medium=skazka&utm_campaign=vendor_org_23813" target="_blank" class="footer__link">
          <picture>
            <source srcset="img/skazka/pacifier-moose.webp" type="image/webp">
            <img class="footer__image img" loading="lazy" src="img/skazka/pacifier-moose.png" width="260" height="258" alt="Пустышка Лось">
          </picture>
        </a>
        <a href="https://www.ozon.ru/seller/roxy-kids-45260/brand/roxy-kids-32175343/?miniapp=seller_45260&utm_source=our_site&utm_medium=skazka&utm_campaign=vendor_org_23813" target="_blank" class="footer__link">
          <picture>
            <source srcset="img/skazka/pacifier-fox.webp" type="image/webp">
            <img class="footer__image img" loading="lazy" src="img/skazka/pacifier-fox.png" width="260" height="258" alt="Пустышка лисичка">
          </picture>
        </a>
      </div>
      <div class="footer__question">А какой подарок от зверят достался ему?</div>
      <a href="https://www.ozon.ru/seller/roxy-kids-45260/brand/roxy-kids-32175343/?miniapp=seller_45260&utm_source=our_site&utm_medium=skazka&utm_campaign=vendor_org_23813" target="_blank" class="footer__button">Выбрать</a>
    </div>
  </div>
</footer>
