<section class="guest" data-aos="tale">
  <div class="guest__wrapper">
    <picture>
      <source srcset="img/skazka/guest/grass-back.webp" type="image/webp">
      <img class="guest__grass guest__grass--back img" loading="lazy" src="img/skazka/guest/grass-back.png" width="1440" height="183" alt="Травка">
    </picture>
    <div class="guest__container">
      <div class="guest__scene">
        <picture>
          <source srcset="img/skazka/guest/moose.webp" type="image/webp">
          <img class="guest__moose img" loading="lazy" src="img/skazka/guest/moose.png" width="659" height="717" alt="Лось">
        </picture>
        <picture>
          <source srcset="img/skazka/guest/pram.webp" type="image/webp">
          <img class="guest__pram img" loading="lazy" src="img/skazka/guest/pram.png" width="694" height="566" alt="Коляска">
        </picture>
        <picture>
          <source srcset="img/skazka/guest/catcher.webp" type="image/webp">
          <img class="guest__cather img" loading="lazy" src="img/skazka/guest/catcher.png" width="173" height="272" alt="Ловец снов">
        </picture>
        <picture>
          <source srcset="img/skazka/guest/sun.webp" type="image/webp">
          <img class="guest__sun img" loading="lazy" src="img/skazka/guest/sun.png" width="349" height="363" alt="Солнце">
        </picture>
        <picture>
          <source srcset="img/skazka/guest/pad.webp" type="image/webp">
          <img class="guest__pad img" loading="lazy" src="img/skazka/guest/pad.png" width="248" height="213" alt="Подушка">
        </picture>
        <picture>
          <source srcset="img/skazka/animals/fox.webp" type="image/webp">
          <img class="guest__fox img" loading="lazy" src="img/skazka/animals/fox.png" width="270" height="223" alt="Лиса">
        </picture>
        <picture>
          <source srcset="img/skazka/animals/bird.webp" type="image/webp">
          <img class="guest__bird img" loading="lazy" src="img/skazka/animals/bird.png" width="166" height="136" alt="Птичка">
        </picture>
        <picture>
          <source srcset="img/skazka/animals/hare.webp" type="image/webp">
          <img class="guest__hare img" loading="lazy" src="img/skazka/animals/hare.png" width="261" height="198" alt="Зайка">
        </picture>
      </div>
    </div>
    <picture>
      <source srcset="img/skazka/guest/grass-front.webp" type="image/webp">
      <img class="guest__grass guest__grass--front img" loading="lazy" src="img/skazka/guest/grass-front.png" width="1440" height="96" alt="Травка">
    </picture>
  </div>
  <div class="guest__clouds">
    <div class="guest__cloud guest__cloud--left cloud">
      <p class="cloud__text"><span>И</span>однажды пожаловал на эту землю большой гость. С его появлением даже солнце стало светить ярче, а жители земли устроили большой праздник.</p>
    </div>
    <div class="guest__cloud guest__cloud--right cloud">
      <p class="cloud__text"><span>Г</span>ость был настолько важный, что все оставили свои дела и каждый торопился прийти к нему на молочное чаепитие, чтобы принести самый лучший подарок.</p>
    </div>
  </div>
</section>
