<header class="header" data-aos="tale">
  <div class="header__wrapper">
    <div class="header__logo logo">
      <a href="/" class="logo__link">
        <img class="logo__image" width="122" height="78" src="img/skazka/svg/logo.svg" alt="RoxyKids">
      </a>
    </div>
    <h1 class="header__title title">
      Вы стали обладателем пустышек серии SCANDI от ROXY-KIDS. <span>Погрузитесь в атмосферу волшебной северной сказки и&nbsp;прочитайте притчу для&nbsp;взрослых.</span>
    </h1>
    <div class="header__clouds clouds">
      <picture>
        <source media="(max-width: 576px)" srcset="img/skazka/header-cloud-mobile.webp 576w" type="image/webp">
        <source media="(max-width: 576px)" srcset="img/skazka/header-cloud-mobile.png 576w" type="image/png">
        <source srcset="img/skazka/header-cloud-left.webp" type="image/webp">
        <img class="clouds__image clouds__image--left img" loading="lazy" src="img/skazka/header-cloud-left.png" width="552" height="468" alt="Облачка">
      </picture>
      <picture>
        <source media="(max-width: 576px)" srcset="img/skazka/header-cloud-mobile.webp 576w" type="image/webp">
        <source media="(max-width: 576px)" srcset="img/skazka/header-cloud-mobile.png 576w" type="image/png">
        <source srcset="img/skazka/header-cloud-center.webp" type="image/webp">
        <img class="clouds__image clouds__image--center img" loading="lazy" src="img/skazka/header-cloud-center.png" width="953" height="410" alt="Облачка">
      </picture>
      <picture>
        <source media="(max-width: 576px)" srcset="img/skazka/header-cloud-mobile.webp 576w" type="image/webp">
        <source media="(max-width: 576px)" srcset="img/skazka/header-cloud-mobile.png 576w" type="image/png">
        <source srcset="img/skazka/header-cloud-right.webp" type="image/webp">
        <img class="clouds__image clouds__image--right img" loading="lazy" src="img/skazka/header-cloud-right.png" width="494" height="420" alt="Облачка">
      </picture>
    </div>
  </div>
</header>
