<section class="hero" data-aos="tale">
  <div class="hero__scene">
      <img class="hero__sun img" loading="lazy" src="img/skazka/svg/sun.svg" width="296" height="296" alt="Солнце">
      <img class="hero__month img" loading="lazy" src="img/skazka/svg/month.svg" width="289" height="257" alt="Месяц">
      <picture>
        <source srcset="img/skazka/hero/stars.webp" type="image/webp">
        <img class="hero__stars img" loading="lazy" src="img/skazka/hero/stars.png" width="1280" height="660" alt="Звезды">
      </picture>
      <img class="hero__mount hero__mount--back img" loading="lazy" src="img/skazka/svg/mountain-back.svg" width="1073" height="518" alt="Горы">
      <img class="hero__clouds img" loading="lazy" src="img/skazka/svg/clouds.svg" width="1158" height="284" alt="Облака">
      <picture>
        <source srcset="img/skazka/animals/bird.webp" type="image/webp">
        <img class="hero__bird img" loading="lazy" src="img/skazka/animals/bird.png" width="308" height="252" alt="Птичка">
      </picture>
      <img class="hero__tree hero__tree--back img" loading="lazy" src="img/skazka/svg/tree-back.svg" width="221" height="529" alt="Сосна">
      <img class="hero__birds img" loading="lazy" src="img/skazka/svg/birds.svg" width="934" height="210" alt="Птички">
      <img class="hero__mount hero__mount--front img" loading="lazy" src="img/skazka/svg/mountain-front.svg" width="1121" height="522" alt="Горы">
      <picture>
        <source srcset="img/skazka/animals/fox.webp" type="image/webp">
        <img class="hero__fox img" loading="lazy" src="img/skazka/animals/fox.png" width="427" height="352" alt="Лисичка">
      </picture>
      <picture>
        <source srcset="img/skazka/animals/hare.webp" type="image/webp">
        <img class="hero__hare img" loading="lazy" src="img/skazka/animals/hare.png" width="538" height="409" alt="Зайчик">
      </picture>
      <picture>
        <source media="(max-width: 576px)" srcset="img/skazka/hero/grass-back-mobile.webp 576w" type="image/webp">
        <source media="(max-width: 576px)" srcset="img/skazka/hero/grass-back-mobile.png 576w" type="image/png">
        <source srcset="img/skazka/hero/grass-back.webp" type="image/webp">
        <img class="hero__grass hero__grass--back img" loading="lazy" src="img/skazka/hero/grass-back.png" width="5340" height="249" alt="Травка">
      </picture>
      <img class="hero__trees hero__trees--back img" loading="lazy" src="img/skazka/svg/trees-back.svg" width="637" height="498" alt="Сосны">
      <img class="hero__tree hero__tree--front img" loading="lazy" src="img/skazka/svg/tree-front.svg" width="312" height="842" alt="Сосна">
      <picture>
        <source media="(max-width: 576px)" srcset="img/skazka/hero/grass-middle-mobile.webp 576w" type="image/webp">
        <source media="(max-width: 576px)" srcset="img/skazka/hero/grass-middle-mobile.png 576w" type="image/png">
        <source srcset="img/skazka/hero/grass-middle.webp" type="image/webp">
        <img class="hero__grass hero__grass--middle img" loading="lazy" src="img/skazka/hero/grass-middle.png" width="5340" height="108" alt="Травка">
      </picture>
      <picture>
        <source srcset="img/skazka/guest/moose.webp" type="image/webp">
        <img class="hero__moose img" loading="lazy" src="img/skazka/guest/moose.png" width="406" height="442" alt="Лось">
      </picture>
      <picture>
        <source media="(max-width: 576px)" srcset="img/skazka/hero/grass-front-mobile.webp 576w" type="image/webp">
        <source media="(max-width: 576px)" srcset="img/skazka/hero/grass-front-mobile.png 576w" type="image/png">
        <source srcset="img/skazka/hero/grass-front.webp" type="image/webp">
        <img class="hero__grass hero__grass--front img" loading="lazy" src="img/skazka/hero/grass-front.png" width="5340" height="140" alt="Травка">
      </picture>
      <img class="hero__trees hero__trees--front img" loading="lazy" src="img/skazka/svg/trees-front.svg" width="328" height="426" alt="Сосны">
  </div>
  <div class="hero__cloud cloud">
    <p class="cloud__text"><span>В</span> далёком краю среди озёр, скал и сосен есть земля, где все живут в мире и согласии. Там царит любовь и дружба, щедрость и благодарность. Там никто не ссорится и все поддерживают друг друга. Поют песни и танцуют, готовят вкусные пироги и играют, а вечерами разговаривают обо всем на свете под треск камина.</p>
  </div>
</section>
