// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: Tahoma, Verdana, Segoe, sans-serif;
  --second-family: 'PF DinText Pro', sans-serif;
  --third-family: 'FK Birch.kz', sans-serif;
  --content-width: 1440px;
  --container-offset: 0;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --animation-duration-index: 1;
  --animation-duration-scene: 20000ms;

  // colors
  --main-color: #2a324d;
  --accent-color: #b1324f;
}
